{% extends "base.html" %}

{% block content %}
  <h1>
    Review List
    <a href="{% url 'games:review-create' %}"
       class="btn btn-primary link-to-page">
      Add review
    </a>
  </h1>
  {% if review_list %}
    <ul>
      {% for review in review_list %}
        <li>
          <a href="{% url 'games:review-detail' pk=review.id %}">
            {{ review.game.title }}
          </a>
          - {{ review.rating }}/10
          - {{ review.author.username }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no reviews.</p>
  {% endif %}
{% endblock %}